tests/fixtures/valid/proper-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- This is a valid Mule configuration that should pass all rules -->
    
    <flow name="orders-get-flow" doc:name="Orders Get Flow">
        <http:listener config-ref="httpListener" path="/orders" doc:name="HTTP Listener"/>
        
        <logger level="INFO" 
                message="#[%dw 2.0 output application/json --- { correlationId: correlationId, action: 'fetching orders' }]" 
                category="com.myorg.orders" 
                doc:name="Log Request"/>
        
        <ee:transform doc:name="Transform Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    orders: []
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <error-handler>
            <on-error-propagate type="HTTP:CONNECTIVITY">
                <set-variable variableName="httpStatus" value="503" doc:name="Set HTTP Status"/>
                <logger level="ERROR" 
                        message="#[%dw 2.0 output application/json --- { correlationId: correlationId, error: error.description }]" 
                        category="com.myorg.orders.error" 
                        doc:name="Log Error"/>
            </on-error-propagate>
            <on-error-propagate type="VALIDATION:INVALID_JSON">
                <set-variable variableName="httpStatus" value="400" doc:name="Set HTTP Status"/>
                <logger level="ERROR" 
                        message="#[%dw 2.0 output application/json --- { correlationId: correlationId, error: error.description }]" 
                        category="com.myorg.orders.error" 
                        doc:name="Log Error"/>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <sub-flow name="orders-transform-subflow" doc:name="Orders Transform Subflow">
        <logger level="DEBUG" 
                message="#[%dw 2.0 output application/json --- { action: 'transforming' }]" 
                category="com.myorg.orders.transform" 
                doc:name="Log Transform"/>
        <ee:transform doc:name="Transform">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>

</mule>
